{
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "semi": true,
    "semiSpacing": true,
    "useTabs": true,
    "indentSize": 3,
    "indentType": "tab",
    "maxLineLength": 80,
    "validateIndentation": "strict",
    "validateQuoteMarks": "strict",
    "validateLineBreaks": "strict",
    "validateTrailingSpaces": "strict",
    "validateKeywords": "strict",
    "validateOperators": "strict",
    "validateVariableNames": "strict",
    "validateJSDoc": "off",
    "validateNewlineAfterCode": "off",
    "validateFormat": "off",
    "validatePadding": "off",
    "validateEmptyLines": "off",
    "validateSpaces": "off",
    "validateMaxLineLength": "off",
}